.solo-chip {
    margin-top: 4px; 
    margin-bottom: 4px;
    background-color: rgb(224, 224, 224) !important;
    &:focus-visible  {
      /*border: 2px solid #0d6efd;*/
      box-shadow: 0 0 0 3px white !important;
      outline: 2px solid #0d6efd !important;
    }
}
.mat-mdc-standard-chip {
  --mdc-chip-background-color: black;
}

.column1 {
  grid-area: auto / 1 / span 1 / span 2;
  text-align: left;
}
.column2 {
  grid-area: auto / 3 / span 1 / span 2;
  text-align: right;
}


.grid-container {
    display: grid;
    grid:
        'header header header header'
        'column1 column2 column3 column4';
    grid-column-gap: 0;
    grid-row-gap: 0;
}